[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
packaging = "*"
numpy = "*"
opencv-python = "*"
matplotlib = "*"
process-raw = "*"

[dev-packages]

[requires]
python_version = "3.12"
